################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sender/.vs
/.vs
/Sender/Reader/config.json
/AzureIoTEdgeApp/.vs/AzureIoTEdgeApp/v15/Server/sqlite3
